/* DARK MODE */
:root.dark {
    --green: rgb(1, 255, 60);
    --bg: #1a1a1a;
    --header: #252525;
    --card: rgb(58, 58, 58);
    --dark-blue: #ffffff;
    --card-total: #053811;
    --color-table: rgb(255, 255, 255);
    --description: rgb(255, 255, 255);
    --table-bg: rgb(78, 78, 78);
    --btn-hover: rgb(78, 78, 78);
    --red: #8b1b1b;
}

/* GLOBAL */
:root {
    --dark-blue: #363f5f;
    --description: #363f5f;
    --green: #217c00;
    --red: #e92929;
    --bg: #d3d3d3;
    --header: #2d4a22;
    --card: #fff;
    --table-bg: #fff;
    --btn-hover: rgb(184, 184, 184);
    --card-total: #56973e;
    --color-table: #9096ad;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
    font-size: 93.75%;
}

body {
  background: var(--bg);
  font-family: "Poppins", sans-serif;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1;
    overflow: hidden;
    clip: rect(0 0 0 0, 0);
    white-space: nowrap;
    border-width: 0;
}

.container {
  width: min(90vw, 800px);
  margin: auto;
}

/* TITLES */

h1 {
    display: flex;
    align-items: center;
    justify-content: center;
}
h2 {
    margin-top: 3.2rem;
    margin-bottom: .8rem;
    color: var(--dark-blue);

    font-weight: 400;
}

/* LINKS AND BUTTONS */
a {
    color: var(--green);
    text-decoration: none;
}

img.dark-mode {
    width: 30px;
}
a:hover {
    color: #2da800;
}
button.dark-ligth{
    width: 29px;
    height: 29px;
    position:fixed;
    left: 10px;
    top: 10px;
    background: transparent;
    border: none;
    outline: none;
    display: flex;
    align-items: center;
    justify-content:center;
    border-radius: 50%;
}
button.dark-ligth:hover {
    background: var(--btn-hover);
}
button {
    width: 100%;
    height: 50px;

    border: none;
    color: #fff;
    background: var(--card-total);

    padding: 0;

    border-radius: .25rem;

    cursor: pointer;

    transition: 250ms;
}

button:hover {
    background: #175700;
}

.button.new {
    display: inline-block;
    margin-bottom: .8rem;
}

.button.cancel {
    color: var(--red);
    border: 2px var(--red) solid;

    border-radius: .25rem;
    height: 50px;
    display: flex;

    align-items: center;
    justify-content: center;

    opacity: .6;

    transition: 250ms;
}

.button.cancel:hover {
    opacity: 1;
}


/* HEADER */
header {
  background: var(--header);
  padding: 2rem 0 10rem;
  text-align: center;
}

#logo {
  color: #fff;
  font-weight: 400;
}

.green {
    color: green;
}

/* BALANCE */
#balance {
    margin-top: -8rem;
}

#balance h2 {
    color: #fff;
    margin-top: 0;
}

/* CARDS */
.card {
    background: var(--card);
    padding: 1.5rem 2rem;
    border-radius: .25rem;

    color: var(--dark-blue);

    margin-bottom: 1rem;
}

.card h3 {
    font-weight: normal;
    font-size: 1rem;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card p {
    font-size: 2rem;
    line-height: 3rem;

    margin-top: 1rem;
}

.card.total {
    background: var(--card-total);
    color: #fff;
}

/* TABLE */
#transaction {
    display: block;
    width: 100%;
    overflow-x: auto;
}

#data-table {   
    width: 100%;
    border-spacing: 0 .5rem;
    color: var(--color-table); 
}

table thead tr td:first-child,
table tbody tr td:first-child {
    border-radius: .25rem 0 0 .25rem;
}

table thead tr td:last-child,
table tbody tr td:last-child {
    border-radius:  0 .25rem .25rem 0 ;
}

table tbody tr {
    opacity: .5;
}

table tbody tr:hover {
    opacity: 1;

}

table th {
    background: var(--table-bg);

    font-weight: normal;
    padding: 1rem 2rem;
    text-align: left;
}

table tbody td{
    background: var(--table-bg);
    padding: 1rem 2rem;
}

td.description {
    color: var(--description);
}

td.income {
    color: #00920c;
}

td.expanse {
    color: var(--red);
}

tr td img {
    cursor: pointer;
}

/* MODAL */
.modal-overlay {
    z-index: 999;

    width: 100%;
    height: 100%;

    position: fixed;
    top: 0;

    background-color: rgba(0, 0, 0, 0.7);

    display: flex;
    align-items: center;
    justify-content: center;

    opacity: 0;
    visibility: hidden;
}

.modal-overlay.active {
    opacity: 1;
    visibility: visible;
}

.modal {
    background: var(--bg);
    padding: 2.4rem;

}

/* MODAL FORM */
#form {
    max-width: 500px;
}

#form h2 {
    margin-top: 0;
}

#form form input {
    border: none;
    border-radius: .2rem;

    padding: .8rem;
    width: 100%;
}

.input-group {
    margin-top: .8rem;
}

.input-group .help {
    opacity: .4;
}

.input-group.actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.input-group.actions .button,
.input-group.actions button {
    width: 48%;
}

/* FOOTER */
footer {
  text-align: center;
  padding: 4rem 0 2rem;

  color: var(--dark-blue);
  opacity: .6;
}


/* RESPOSIVE */
@media(min-width: 800px) {
    html {
        font-size: 87.5%;
    }

    #balance {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 1rem;
    }
}